<fieldset>
  <span class="title">{{ label }} :</span>
  <div class="custom-container">
    {{#each values }}
    <fieldset class="checkbox-container" id="{{ type_ui }}" title="{{ label }}">
      <input type="checkbox" id="{{ type_ui }}" />
      <label for="{{ type_ui }}">{{ label }}</label>
    </fieldset>
    {{/each}}
  </div>
</fieldset>
