<fieldset>
  <label class="col-3">{{t "customInputs:CreatorField.person.name_family" }}</label>
  <input data-attribute="name_family" class="col-3" type="text" />
</fieldset>
<fieldset>
  <label class="col-3">{{t "customInputs:CreatorField.person.name_given" }}</label>
  <input data-attribute="name_given" class="col-3" type="text" />
</fieldset>
<fieldset>
  <label class="col-3">{{t "customInputs:CreatorField.person.date_birth" }}</label>
  <input data-attribute="date_birth" class="col-3" type="year" />
</fieldset>
<fieldset>
  <label class="col-3">{{t "customInputs:CreatorField.person.date_death" }}</label>
  <input data-attribute="date_death" class="col-3" type="year" />
</fieldset>
<fieldset>
  <label class="col-3">{{t "customInputs:CreatorField.person.affiliation" }}</label>
  <input data-attribute="affiliation" class="col-3" type="text" />
</fieldset>
